<div class="flex-container">

  <div class="tab-container">
     
    <div  *ngFor="let title of menuTitles; let i = index" (click)="setTab(i)" [ngClass]="{'tab-items-active': currentTab == i, 'tab-items': true}">
        {{title}}
    </div>

  </div>

  <div class="tab-content-container">
    <div *ngIf="currentTab == 0">
        Restaurant Table
    </div>

    <div *ngIf="currentTab == 1">
        Retail Table
    </div>

    <div *ngIf="currentTab == 2">
        Redemption Table
    </div>

    <div *ngIf="currentTab == 3">
        Package Table
    </div>

  </div>

  
</div>

